@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --font-sans: var(--font-source-sans-3), system-ui, sans-serif;
  --font-heading: var(--font-playfair-display), system-ui, serif;
}
@theme {
  --font-sans: var(--font-source-sans-3), system-ui, sans-serif;
  --font-heading: var(--font-playfair-display), system-ui, serif;
}

@theme inline {
  --color-primary: #1a1a1a;
  --color-secondary: #4b4b4b;
  --color-tertiary: #c63c22;
  --color-accent: #8b2a17;
  --color-gray: #ddd8d1;
  --color-gray-light: #b7b7b7;
  --color-background-gray: #ddd8d1;
  --color-background-category: #fbfaf9;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }

  .font-sans {
    font-family: var(--font-sans);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Heading tags styles */

@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1 {
    @apply text-[28px] md:text-[36px] lg:text-[40px] font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h2 {
    font-family: var(--font-heading);
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  a {
    @apply text-primary hover:text-tertiary transition duration-300;
  }
}

/* Section spacing */

.section-spacing {
  @apply py-6 md:py-8 lg:py-10;
}

/* Header styles: */
.header {
  @apply py-4 bg-white border-b border-[#DDD8D1];
}

.header-container {
  @apply max-w-[1360px] mx-auto flex justify-between items-center gap-4 px-4;
}

/* Button styles: */
.btn-primary {
  @apply bg-transparent text-primary  py-5 px-8 transition duration-400 font-bold border border-tertiary hover:bg-tertiary hover:text-white  cursor-pointer inline-block;
}

/* Link styles */
.link-primary {
  @apply bg-transparent text-tertiary  py-4 px-1 transition duration-400 font-bold border-b border-tertiary hover:border-tertiary hover:text-tertiary cursor-pointer inline-block leading-none;
}

/* Footer styles */

.footer {
  @apply py-10  bg-accent;
}

.footer-container {
  @apply max-w-[1360px] mx-auto px-4;
}

.container {
  @apply max-w-[1360px] mx-auto px-4 lg:px-8;
}

/* Banner styles */

.banner-container {
  @apply max-w-[1960px] mx-auto;
}
