@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-primary: #1a1a1a;
  --color-secondary: #4b4b4b;
  --color-tertiary: #c63c22;
  --color-accent: #8b2a17;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Header styles: */
.header {
  @apply py-4 px-4 bg-white border-b border-[#DDD8D1];
}

.header-container {
  @apply max-w-[1360px] mx-auto flex justify-between items-center gap-4;
}

/* Button styles: */
.btn-primary {
  @apply bg-transparent text-primary py-5 px-8 transition duration-400 font-bold border border-tertiary hover:bg-tertiary hover:text-white  cursor-pointer;
}

/* Footer styles */

.footer {
  @apply py-10 px-4 bg-accent;
}
