@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-primary: #1a1a1a;
  --color-secondary: #4b4b4b;
  --color-tertiary: #7c7c7c;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.header {
  @apply py-4 px-4 bg-white border-b-[1px] border-[#DDD8D1];
}

.header-container {
  @apply max-w-[1328px] mx-auto flex justify-between items-center gap-4;
}
