@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-body: var(--font-body), system-ui, sans-serif;
  --font-heading: var(--font-heading), system-ui, serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-accent: var(--color-accent);
  --color-gray: var(--color-gray);
  --color-gray-light: #b7b7b7;
  --color-background-gray: var(--color-background-gray);
  --color-background-category: var(--color-background-category);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }

  .font-sans {
    font-family: var(--font-sans);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* Heading tags styles */

@layer base {
  body {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  h1 {
    @apply text-[28px] md:text-[36px] lg:text-[40px] font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  a {
    @apply text-primary hover:text-tertiary transition duration-300;
  }
  ul {
    @apply list-disc pl-6;
  }
  ol {
    @apply list-decimal pl-6;
  }
  li {
    @apply mb-1;
  }
  input,
  textarea,
  select {
    @apply w-full p-2 md:py-5 md:px-3 border border-background-gray rounded-none text-[16px];
  }
  input {
    @apply bg-[#F8F6F3] outline-none;
  }
}

/* Section spacing */

.section-spacing {
  @apply py-6 md:py-8 lg:py-10;
}

/* Header styles: */
.header {
  @apply py-4 bg-white border-b border-gray;
}

.header-container {
  @apply max-w-[1360px] mx-auto flex justify-between items-center gap-4 px-4;
}

/* Button styles: */
.btn-primary {
  @apply bg-transparent text-primary py-2 px-3 md:py-5 md:px-6 transition duration-400 font-bold border border-tertiary hover:bg-tertiary hover:text-white cursor-pointer inline-block;
}

/* Link styles */
.link-primary {
  @apply bg-transparent text-tertiary py-3 px-1 transition duration-400 font-bold border-b border-tertiary hover:border-tertiary hover:text-tertiary cursor-pointer inline-block leading-none;
}

/* Footer styles */

.footer {
  @apply py-10  bg-accent;
}

.footer-container {
  @apply max-w-[1360px] mx-auto px-4;
}

.container {
  @apply max-w-[1360px] mx-auto px-3 lg:px-8;
}

/* Banner styles */

.banner-container {
  @apply max-w-[1960px] mx-auto;
}

.blog-banner-wrapper {
  @apply py-8 md:py-10 lg:py-20;
}
